<!DOCTYPE html>
<html>
  <head>
    <title>CodecoreQuiz2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <% if current_user.present? %>
        <span>Hi, <%= current_user.first_name%>!</span>
        <%= link_to 'Home', home_path %>
        |
        <%= link_to 'New idea', new_idea_path %>
        |
        <%= link_to 'Sign Out', session_path, method: :delete %>
      <% else %>
      <%= link_to 'Home', home_path %>

        <%= link_to 'Sign In', new_session_path %>
        |
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    <div class="container-fluid">
    <%= yield %>
    <div>
  </body>
</html>
